@import '/styles/variables';

@mixin header {
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;
  padding: 28px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-dark {
  @include header;
  background-color: $black;
  color: $white;
  border-left: $border-white;
  border-right: $border-white;
}

.header-light {
  @include header;
  padding-bottom: 90px;
  background-color: $white;
  color: $black;
  border-left: $border-black;
  border-right: $border-black;
}

.text-logo {
  font-size: 24px;
  text-transform: uppercase;
}

.container {
  background-color: $black;
  width: 100%;
}

.container--light {
  background-color: $white;
}
