@import '../../../../styles/variables';

.modal {
  position: relative;
  z-index: 50;
}

.container {
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.panel {
  background-color: red;
  max-width: 600px;
}

.backdrop {
  background-color: grey;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
