@import '/styles/variables';

.menu-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  transform: rotate(-90deg);
  margin-top: 5rem;
  margin-left: -3rem;
}

.title-wrapper {
  max-width: 6rem;
  display: flex;
  flex-direction: column;
  border-right: $border-black;
  border-bottom: $border-black;
}

.nav-wrapper {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 360px;
  max-height: 83vh;
  overflow: scroll;
  border-right: $border-black;
  div {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    border-bottom: $border-black;

    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $black; // Choose your desired color
      transition: width 0.3s ease-out;
      // z-index: -1;
    }

    h3,
    p {
      position: relative;
      z-index: 2;
    }
  }

  .selected {
    color: $white;
  }
  .selected::before {
    // background-color: $black;

    width: 100%;
  }
}
