@import '/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    background-color: $black;
    color: $white;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: capitalize;
  }
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: $border-black;
  border-bottom: $border-black;
}

.icons-wrapper {
  display: flex;
}

.bookmark-wrapper {
  display: flex;
  align-items: center;
}

.open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: $black;
  padding: 0;
  cursor: pointer;
}
