@import '/styles/variables';

.container {
  background-color: $white;
  width: 100%;
}

.inner-container {
  max-width: $max-width;
  gap: 2rem;
  min-height: 85vh;
  margin: 0 auto;
  border-top: $border-black;
  border-left: $border-black;
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  max-width: 4rem;
  display: flex;
  flex-direction: column;
  border-right: $border-black;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  transform: rotate(-90deg);
  margin-top: 6.5rem;
  margin-left: -1rem;
}
