@import '../../../styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 160px;
  width: 100%;
  margin-top: 1.5rem;

  canvas {
    &:nth-child(2) {
      display: none;
    }
  }
  .inner-wrapper {
    flex-basis: 60%;
    position: relative;

    &.full-width {
      flex-basis: 100%;
    }

    .play-button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      right: 40%;
      transform: translate(-50%, -50%);
      display: none;
      z-index: 50;
      opacity: 0;
    }

    &:hover {
      .play-button {
        display: block;
        opacity: 1;
      }
    }
  }
}
